.App{
  text-align: center;
}
.card{
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  display: grid;
  place-content: center;
  text-align: center;
  place-items: center;
}